<% if user_signed_in? %>
<h1><%= current_user.name %></h1>

<%= image_tag '/images/user.png', width: 50, height: 50 %>
  <ul>
    <li><%=link_to '部屋を探す', top_hotelapp_path %></li>
    <li><%=link_to 'myルーム一覧', hotelapps_path %></li>
    <li><%=link_to '予約ルーム一覧', rents_path %></li>
    <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header-nav" %></li>
  </ul>
<% else %>
  <ul>
    <li><%= link_to "ログイン", new_user_session_path, class: "header-nav" %></li>
    <li><%= link_to "新規登録", new_user_registration_path, class: "header-nav" %></li>
  </ul>
<% end %>